<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AE2EC3E245B477B002BDDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE2EC54245B477E002BDDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE2EC5F245B477E002BDDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
